<!-- Making a more generic component enable more customization -->
<ul carousel aria-label="Featured games" role="list">
  <li *ngFor="let game of featured; let i = index">
    <a
      [routerLink]="['game', game?.id]"
      [attr.aria-label]="game?.title"
      [attr.data-carousel-default]="i == 2"
      ><img [src]="game?.photo" alt=""
    /></a>
  </li>
</ul>

<section class="wrapper">
  <ul class="game-list" role="list">
    <li
      *ngFor="let game of games$ | async"
      game-card
      [gameId]="game?.id"
      [title]="game?.title"
      [image]="game?.photo"
      [rating]="game?.rating"
    ></li>
  </ul>
</section>
