<!-- Making a more generic component enable more customization -->
<ul carousel aria-label="Featured games">
  <li>
    <a href="#"><img src="https://via.placeholder.com/1920x1080" alt="" /></a>
  </li>
  <li data-carousel-default="">
    <a href="#"><img src="https://via.placeholder.com/1920x1080" alt="" /></a>
  </li>
  <li>
    <a href="#"><img src="https://via.placeholder.com/1920x1080" alt="" /></a>
  </li>
</ul>

<section class="wrapper">
  <ul class="game-list">
    <li *ngFor="let game of [1, 2, 3, 4]" game-card></li>
  </ul>
</section>
