<section class="wrapper login">
  <div class="[ login__container ] [ flow-space flow-space-600 ]">
    <form class="[ login__content ] [ flow-space flow-space-500 ]">
      <h1>Sign in</h1>
      <p>Insert your account information</p>

      <label for="username">
        Username or email
        <input type="text" name="username" id="username" />
      </label>

      <label for="password">
        Password
        <input type="password" name="password" id="password" />
      </label>

      <button type="submit" class="button">Login into your account</button>
    </form>
    <p>
      No account? Send an email to
      <a href="mailto:fabio@tindin.com.br" aria-label="open mail">
        fabio@tindin.com.br
      </a>
    </p>
  </div>
</section>
