.footer {
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    > * + * {
      margin-left: var(--flow-space);
      margin-inline-start: var(--flow-space);
    }

    a {
      text-decoration: none;
      color: white;
    }

    svg {
      height: 1.5rem;
    }

    li:first-of-type {
      svg {
        height: 1.8rem;
      }
    }

    li:last-of-type {
      margin-right: var(--flow-space);
      margin-inline-end: var(--flow-space);

      svg {
        height: 2rem;
      }
    }
  }
}
