.game-card {
  display: flex;
  flex-direction: column;

  position: relative;

  background-color: white;

  &__image {
    height: 15rem;

    > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      background-position: center center;
    }
  }

  &__text {
    padding: 0.3rem 1rem;
    padding-block: 0.5rem;
    padding-inline: 1rem;

    a::after {
      height: 100%;
      background-color: transparent;
      content: "";
      width: 100%;
      display: block;

      position: absolute;

      // fallback
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;

      // works on newer browsers to replace the top, left, bottom, right
      inset: 0;

      z-index: 1;
    }

    a {
      text-decoration: none;
    }

    small {
      padding: 0.3rem;
      border-radius: 3px;

      background-color: rgb(39, 85, 169);
      color: white;
      font-weight: 500;
    }
  }
}
