.login {
  --gap: 2rem;

  &__container {
    background-color: white;
    border-radius: 4px;

    max-width: 40rem;

    margin: var(--gap) auto;
    margin-inline: auto;

    padding: var(--gap);
    padding-block: var(--gap);
  }

  &__content {
    label {
      display: block;
    }

    input {
      width: 100%;
      height: var(--gap);
    }
  }
}
