.search {
  form {
    display: flex;
    background-color: white;
    border-radius: 2rem;

    padding: 0.25rem 1rem;

    > * + * {
      margin-left: 1rem;
    }
  }

  input {
    height: 2rem;
    border: none;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.2rem;
    height: 2.2rem;

    border: none;
    border-radius: 50%;

    border: 3px dotted hsl(0, 84%, 25%);
    color: hsl(0, 84%, 25%);
    background-color: transparent;
  }

  svg {
    width: 1.2rem;
  }
}
