.search {

  form {
    display: flex;
    border: 2px solid cornflowerblue;
    border-radius: 2rem;

    padding: 0.25rem 1rem;

    > * + * {
      margin-left: 1rem;
    }
  }

  input {
    height: 2rem;
    border: none;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.2rem;
    height: 2.2rem;

    border: none;
    border-radius: 50%;

    background-color: cornflowerblue;
    color: white;
  }

  svg {
    width: 1.2rem;
  }
}
