@use "../utilities/visually-hidden";

.skip-link {
  position: absolute;
  top: 1rem;
  left: 1rem;

  // @exteds should be used with care, but this is a great example of them being hella useful
  &:not(:focus) {
    @extend .visually-hidden;
  }
}
