@use "reset";
@use "utilities";
@use "blocks";

main {
  margin-top: 2rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(0, 0%, 14%);
}

app-root {
  position: relative;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  min-height: 100vh;
}
